<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Plain JS Minimal App</title>
  <script src="E:/project_ws/javascript_practice/projects/BookLibary/configure/initialize.js"></script>
  
  <script src="E:/project_ws/javascript_practice/projects/BookLibary/model/Book.js"></script>
  
  <script src="E:/project_ws/javascript_practice/projects/BookLibary/ctrl/createBook.js"></script>

  <script type="text/javascript">
    window.addEventListener("load",bl.view.createBook.setupUserInterface);
  </script>
  </head>
  <body>
  <h1> Book Libary: Create a new record</h1>
  <form id="Book">
    <p><label>ISBN: <input name="isbn" /></label></p>
    <p><label>Title: <input name="title" /></label></p>
    <p><label>Year: <input name="year" /></label></p>
    <p><button type="button" name="commit">Save</button></p>
  </form>
   <nav><a href="E:/project_ws/javascript_practice/projects/BookLibary/index.html">Back to main menu</a></nav>
</body>
</html>